form.search-producturl(action='/' method="GET")
	.search
		.icon-wrap
			svg
				use(xlink:href='/css/icons.svg#icon-search')
		input#producturl(type="text" placeholder='Enter Your url...' name='productURL')
