extends base

block content
  .container-errorpage
    h1 Please check your internet connection and try again
    include _searchBar
  script.
    document.getElementById('producturl').value="!{productURL}"